header {
    background-color: var(--bg-secondary);
    padding: 10px;
    text-align: center;
    position: fixed;
    width: calc(100% - 20px);
    max-width: 100%;
}

.headerItemLeft{
    float: left;
    border: none;
}

.headerItemRight{
    float: right;
}

.menuOption{
    display: none;
    font-size: 1rem;
    color: pink;
}

div .menuOption:hover span {
    display: inline;
}
