main {
    padding: 1rem;
}

main form {
    font-size: 1.5rem;
    text-align: center;
    
}
main form label{
    display: block;
    padding-bottom: .5rem;
}

main form input:not([type=checkbox]) {
    font-size: 1.5rem;
    max-width: calc(100% - 2rem);
    display: block;
    margin: 0.5rem auto 0;
    border: 2px solid var(--font-primary);
    padding: .5rem 1rem;
    border-radius: 0.675rem;
}

main form input[required]::after {
    content: "*";
}

main form button {
    font-size: 3rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 2px solid var(--font-primary);
}