:root {
    --bg-primary: rgb(146, 19, 19);
    --bg-secondary: rgb(27, 83, 27);
    --fg-primary: blue;
    --fg-secondary: pink;
    --fg-tertiary: rgb(204, 144, 14);
    --trim: orange;
    --font-primary: black;
    --font-secondary: darkgray;


}

html, body {
    background-color: var(--bg-primary);
    color: var(--font-primary);
    margin: 0;
}

header {
    background-color: var(--bg-secondary);
    padding: 15px;
}

header .container {
    text-align: center;
}

header h1 {
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: var(--font-primary);
    background-color: var(--fg-tertiary);
    padding: 5px 10px;
}

header nav a:active {
    background-color: var(--bg-secondary);

}

header .container img {
    float: left;
}

main {
    padding: 15px;
}

main ul li {
    padding-bottom: 10px;
}

main table tr td {
    padding: 5px 5px;
    background-color: var(--bg-secondary);
    border: 2px solid black;

}

footer {
    background-color: var(--bg-secondary);
    padding: 15px;
}

footer div span {
    display: block;
    padding: 3px 0;
}

